# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea

# Test binary, built with `go test -c`
.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
 vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
 .idea/
 .vscode/

 # Node dependencies
node_modules/
.npm/

# Build artifacts
dist/
tmp/
build/
.nuxt/
.next/ # For Next.js projects
.output/ # For Nuxt projects

# Logs and temporary files
npm-debug.log*
*.log
pids
*.pid
*.seed
*.pid.lock

# Environment variables
*.env
!.env.example # Keep the example file in version control

# Miscellaneous OS files
.DS_Store # macOS
Thumbs.db # Windows

# Optional caches
.eslintcache
